<html>
<head>
<title>activity_main3.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #080808; font-style: italic;}
.s1 { color: #174ad4;}
.s2 { color: #080808;}
.s3 { color: #067d17;}
.s4 { color: #0033b3;}
</style>
</head>
<body bgcolor="#ffffff">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_main3.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s3">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s3">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s2">&lt;</span><span class="s4">androidx.constraintlayout.widget.ConstraintLayout </span><span class="s1">xmlns:android</span><span class="s3">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s3">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s3">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s3">=&quot;match_parent&quot;</span>
    <span class="s1">android:background</span><span class="s3">=&quot;@color/greenbg&quot;</span>
    <span class="s1">tools:context</span><span class="s3">=&quot;.InfoActivity&quot;</span><span class="s2">&gt;</span>


    <span class="s2">&lt;</span><span class="s4">androidx.constraintlayout.widget.ConstraintLayout</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;20dp&quot;</span>
        <span class="s1">android:background</span><span class="s3">=&quot;@drawable/customlayout2&quot;</span>
        <span class="s1">android:backgroundTint</span><span class="s3">=&quot;@color/white&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s3">=&quot;parent&quot;</span><span class="s2">&gt;</span>

        <span class="s2">&lt;</span><span class="s4">Button</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/ans1&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;330dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;49dp&quot;</span>
            <span class="s1">android:layout_marginEnd</span><span class="s3">=&quot;41dp&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;40dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;40dp&quot;</span>
            <span class="s1">android:fontFamily</span><span class="s3">=&quot;serif&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;Button&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;20sp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold|italic&quot;</span>
            <span class="s1">android:typeface</span><span class="s3">=&quot;normal&quot;</span>
            <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@+id/qestion&quot; </span><span class="s2">/&gt;</span>

        <span class="s2">&lt;</span><span class="s4">Button</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/ans2&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;330dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginEnd</span><span class="s3">=&quot;41dp&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;40dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;16dp&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;Button&quot;</span>
            <span class="s1">android:fontFamily</span><span class="s3">=&quot;serif&quot;</span>

            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;20sp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold|italic&quot;</span>
            <span class="s1">android:typeface</span><span class="s3">=&quot;normal&quot;</span>
            <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@+id/ans1&quot; </span><span class="s2">/&gt;</span>

        <span class="s2">&lt;</span><span class="s4">Button</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/ans4&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;330dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginEnd</span><span class="s3">=&quot;41dp&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;40dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;12dp&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;Button&quot;</span>
            <span class="s1">android:fontFamily</span><span class="s3">=&quot;serif&quot;</span>

            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;20sp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold|italic&quot;</span>
            <span class="s1">android:typeface</span><span class="s3">=&quot;normal&quot;</span>
            <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@+id/ans3&quot; </span><span class="s2">/&gt;</span>

        <span class="s2">&lt;</span><span class="s4">Button</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/ans3&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;330dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginEnd</span><span class="s3">=&quot;41dp&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;40dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;12dp&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;Button&quot;</span>
            <span class="s1">android:fontFamily</span><span class="s3">=&quot;serif&quot;</span>

            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;20sp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold|italic&quot;</span>
            <span class="s1">android:typeface</span><span class="s3">=&quot;normal&quot;</span>
            <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@+id/ans2&quot; </span><span class="s2">/&gt;</span>

        <span class="s2">&lt;</span><span class="s4">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/qestion&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;20dp&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;qjkfhjdHFSJKGFBHSFSDJKFSDFKHFJQSHFJKHFJKSDHFJHFSD FSD ?&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;30sp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold|italic&quot;</span>
            <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s3">=&quot;0.522&quot;</span>
            <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@+id/timer&quot; </span><span class="s2">/&gt;</span>

        <span class="s2">&lt;</span><span class="s4">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/rqtext&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;355dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;58dp&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;28dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;20dp&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;textStart&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;18sp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
            <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s3">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@+id/ans4&quot;</span>
            <span class="s1">app:layout_constraintVertical_bias</span><span class="s3">=&quot;0.136&quot; </span><span class="s2">/&gt;</span>

        <span class="s2">&lt;</span><span class="s4">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/timer&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginEnd</span><span class="s3">=&quot;174dp&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;181dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;16dp&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;00:20&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;24sp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
            <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s3">=&quot;0.519&quot;</span>
            <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s3">=&quot;parent&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;/</span><span class="s4">androidx.constraintlayout.widget.ConstraintLayout</span><span class="s2">&gt;</span>

<span class="s2">&lt;/</span><span class="s4">androidx.constraintlayout.widget.ConstraintLayout</span><span class="s2">&gt;</span></pre>
</body>
</html>